/*	HTML5 Base styling. Components from:
	http://davidwalsh.name/html5-boilerplate
	http://github.com/murtaugh/HTML5-Reset
*/
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

::selection { background: lightblue; }

::-moz-selection { background: lightblue; }

img { -ms-interpolation-mode: bicubic; }

th { font-weight: bold; vertical-align: bottom; }

td { font-weight: normal; vertical-align: top; }

svg:not(:root) { overflow: hidden; }

@media print { img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; } }
